body{
    background-color: gray;
    display: grid;
    justify-content: center;
    font-size: x-large;
}

#info-usuario{
    display: grid;
}

#titulo-principal{
    text-align: center;
    font-size: 40px;
}

.info{
    display: grid;
    justify-content: center;
    margin-bottom: 10px;
}

#texto{
    min-width: 150px;
    max-width: 250px;
    min-height: 50px;
    max-height: 150px;
}

#formulario-contacto{
    background-color: rgb(169, 162, 162);
    padding: 25px;
    border:10px inset rgba(0, 0, 0, 0.793);
    font-family: monospace;
    width: 25vw;
}

#enviar-form{
    margin-top: 10px;
}